# eSewa Configuration
VITE_ESEWA_PRODUCT_CODE=EPAYTEST
ESEWA_SECRET_KEY=8g8M9mH2Yq15ys4P
VITE_ESEWA_GATEWAY_URL=https://rc-epay.esewa.com.np/api/epay/main/v2/form

# Khalti Configuration
KHALTI_SECRET_KEY=live_secret_key_68791304d10c4ad2ad2c8d1422b9c9d3
VITE_KHALTI_GATEWAY_URL=https://a.khalti.com/api/v2/epayment/initiate/

# App Configuration
VITE_APP_URL=http://localhost:3000
